<%- include('../partials/_html-start.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main>
    <div class="container my-5">
        <% if (movies.length) { %>
            <h1 class="h3 mb-4"><span class="text-warning"><%= title %></span> Filmler (<%= movies.length %>)</h1>
            <hr>
        <% } %>
        
        <div class="row">

            <% if (movies.length) { %>
                <% movies.forEach(movie => { %>
                    <div class="col-md-2 mb-3">
                        <%- include('../partials/_movie-card.ejs', {
                            movie: movie
                        }) %>
                    </div>
                <% }) %>
            <% }else{ %>
                <%- include('../partials/_no-movies.ejs') %>
            <% } %>

        </div>
    </div>
</main>

<%- include('../partials/_html-finish.ejs') %>