<%- include('../../partials/_admin-html-start.ejs') %>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="h3 mb-0"><%= title %></h1>
</div>
<hr>

<% if (error) { %>
    <div class="alert alert-danger"><%= error %></div>
<% } %>

<form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="row mb-3">
        <div class="col-md-10">
            <!-- image -->
            <div class="mb-3">
                <label for="image" class="form-label">Resim:</label>
                <input 
                    type="file" 
                    name="image"
                    id="image" 
                    class="form-control <%= errors.image && "is-invalid" %>"
                    value="<%= old.image %>"
                >
                <% if (errors.image) { %>
                    <div class="text-danger"><%= errors.image.msg %></div>
                <% } %>
            </div>

            <!-- names -->
            <div class="row mb-3">
                <!-- original_name -->
                <div class="col-md-6">
                    <label for="original_name" class="form-label">Orijinal adı:</label>
                    <input 
                        type="text" 
                        name="original_name" 
                        id="original_name" 
                        class="form-control <%= errors.original_name && "is-invalid" %>"
                        value="<%= old.original_name %>"
                    >
                    <% if (errors.original_name) { %>
                        <div class="text-danger"><%= errors.original_name.msg %></div>
                    <% } %>
                </div>
                <!-- turkish_name -->
                <div class="col-md-6">
                    <label for="turkish_name" class="form-label">Türkçe adı:</label>
                    <input 
                        type="text" 
                        name="turkish_name" 
                        id="turkish_name" 
                        class="form-control <%= errors.turkish_name && "is-invalid" %>"
                        value="<%= old.turkish_name %>"
                    >
                    <% if (errors.turkish_name) { %>
                        <div class="text-danger"><%= errors.turkish_name.msg %></div>
                    <% } %>
                </div>
            </div>

            <!-- description -->
            <div class="mb-3">
                <label for="description" class="form-label">Açıklama:</label>
                <textarea name="description" id="description" rows="5" class="form-control"></textarea>
                <% if (errors.description) { %>
                    <div class="text-danger"><%= errors.description.msg %></div>
                <% } %>
            </div>

            <!-- publish_year, imdb and trailer -->
            <div class="row">
                <!-- publish_year and imdb -->
                <div class="col-md-6">
                    <div class="row mb-3">
                        <!-- publish_year -->
                        <div class="col-md-6">
                            <label for="publish_year" class="form-label">Yapım yılı:</label>
                            <input 
                                type="text" 
                                name="publish_year" 
                                id="publish_year" 
                                class="form-control <%= errors.publish_year && "is-invalid" %>"
                                value="<%= old.publish_year %>"
                            >
                            <% if (errors.publish_year) { %>
                                <div class="text-danger"><%= errors.publish_year.msg %></div>
                            <% } %>
                        </div>
                        <!-- imdb -->
                        <div class="col-md-6">
                            <label for="imdb" class="form-label">Imdb:</label>
                            <input 
                                type="text" 
                                name="imdb" 
                                id="imdb" 
                                class="form-control <%= errors.imdb && "is-invalid" %>"
                                value="<%= old.imdb %>"
                            >
                            <% if (errors.imdb) { %>
                                <div class="text-danger"><%= errors.imdb.msg %></div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- trailer -->
                <div class="col-md-6">
                    <div class="col-12">
                        <label for="trailer" class="form-label">Fragman (Youtube):</label>
                        <input 
                            type="text" 
                            name="trailer" 
                            id="trailer" 
                            class="form-control <%= errors.trailer && "is-invalid" %>"
                            value="<%= old.trailer %>"
                        >
                        <% if (errors.trailer) { %>
                            <div class="text-danger"><%= errors.trailer.msg %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <!-- categories -->
            <div class="card mb-3">
                <div class="card-header">Kategoriler</div>
                <div class="card-body">
                    <% if (errors.categories) { %>
                        <div class="text-danger"><%= errors.categories.msg %></div>
                    <% } %>
                    <% categories.forEach(category => { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="categories[]" value="<%= category._id %>" id="<%= category._id %>">
                            <label class="form-check-label" for="<%= category._id %>">
                              <%= category.name %>
                            </label>
                          </div>
                    <% }) %>
                </div>
            </div>
            
            <!-- languages -->
            <div class="card mb-3">
                <div class="card-header">Diller</div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="languages[]" value="subtitle" id="subtitle">
                        <label class="form-check-label" for="subtitle">
                          Türkçe Altyazılı
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="languages[]" value="dubbed" id="dubbed">
                        <label class="form-check-label" for="dubbed">
                          Türkçe Dublaj
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-warning"><%= title %></button>
    </div>
</form>

<%- include('../../partials/_admin-html-finish.ejs') %>